input
{
  border: 0;
outline: none;
background: none;
list-style: none;
border: 2px solid #fff;
margin: 0px;
border-radius: 50px;
position: relative;
display: inline-block;
padding: 15px 30px;
color: #fff;
text-transform: uppercase;
letter-spacing: 4px;
font-size: 24px;
overflow: hidden;
transition: 0.2s;
width: 200px;
}

input:hover
{
  cursor: pointer;
  border: 2px solid #000000;
  color: #000000;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 50px #fff;
}

input:focus
{
  width: 280px;
}
